<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.lite.examples.classification">
  <uses-sdk />
  <uses-feature
      android:name="android.hardware.camera.any"
      android:required="true" />
  <uses-feature
      android:name="android.hardware.camera.autofocus"
      android:required="false" />
</manifest>